@charset "utf-8";
/* CSS Document */
/*---------- element ------------*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


/*---------- layout ------------*/

body {
    margin: 0;
    padding: 0;
    color: #333;
    background: #eee;
}

section {
    padding: 2rem 0;
    margin: 0 0 3rem;
    background: #fff;
}

.copy {
    text-align: center;
}


/*---------- main ------------*/

/*カウントを自動で追加*/
.count {
    counter-reset: number;
}

.count li {
    counter-increment: number;
}

.count li:before {
    content: counter(number)'、';
    color: #fc9898;
}


.sample1 {
    height: 100vh;/*ウィンドウサイズの高さの100%*/
    color: #fff;
    background: #a20000;
}


.sample2 {
    background: rgba(162, 0, 0, 0.5);
}


.sample3 {
    height: 100vh;/*ウィンドウサイズの高さの100%*/
    color: #fff;
    background: #006490;
}

.center_box {
    margin: 0 0 3rem;
    height: 50vh;
    background: #f0c534;
}

.center1 {
    position: relative;
}

.center1 .img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.center2 {
    position: relative;
}

.center2 .img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.center3 {
    display: flex;
    justify-content: center;
    align-items: center;
}











